{% extends "base.html" %}
{% block title %}Raspberry Pi Face Recognition{% endblock %}

{% block content %}
<body id="page">

    <div id="spotlight" class="animated fadeIn">
        <div id="home-center">
          <h1 id="home-title">Raspberry Pi Face Recognition</h1>
          <p id="home-subtitle">This project aims to develop a portable and wireless Face Recognition System (FRS) using Raspberry Pi with a Camera Module attachment.</p>
              <nav id="home-nav" class="site-nav">
                  <a href="/live">Live-feed</a>
                  <a href="/login">Login</a>
              </nav>
      </div>

      

{% endblock %}